{% extends 'base.html' %}
{% block title %} Book catalogue {% endblock %}

{% block content %}

<p class="text-center">Search for any book, and then recommend it to anyone you are following.</p>

<form>
  <div class="form-outline d-flex">
    <input type="text" name="book" id="book" class="form-control" placeholder="Search" />
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>

{% if books %}
<h6 class="text-center mt-3">Results</h6>
{% endif %}

<div class="d-flex flex-column mt-3">
  {% for book in books %}
  <div class="card w-100 mb-2">
    <div class="card-body d-flex justify-content-between">
      
      <div>
        <h5 class="card-title">{{book['volumeInfo']['title']}}</h5>
        <h6 class="card-subtitle mb-2 text-muted nospace"><nobr><span>by&nbsp;</span>
          {% set authors = book['volumeInfo']['authors'] %}
          <span>{{authors[0]}}</span>
          {% if authors|length > 2 %}
            {% for author in authors[1:] %}
              <span>, {{author}}</span>
            {% endfor %}
          {% endif %}
        </nobr></h6>
      </div>

      <div>
        <form method="POST" role="form" action="/books/recommend">
          <button type="submit" name="recommend" value="{{book['id']}}" class="btn btn-primary btn-sm ms-2">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
          </button>
        </form>
      </div>

    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}