{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<h1 class="text-center">Following</h1>

{% for message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ message[0] }}" role="alert">
    {{ message[1] }}
  </div>
{% endfor %}

<form method="POST" role="form" action="/follow_new">
  <div class="form-outline mb-4 d-flex">
    <input type="email" name="email" class="form-control me-1" placeholder="Email" />
    <button type="submit" class="btn btn-primary">Follow</button>
  </div>
</form>


<div class="d-flex flex-column mt-3">
  {% for f in following %}
    <div class="card w-100 mb-2">
      <div class="card-body">
        <h5 class="card-title">{{ f.firstname }} {{ f.lastname }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{ f.email }} </h6>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}