{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<h1 class="text-center">Recomendations</h1>
<div class="d-flex flex-column align-items-center mt-3 recomendations">
  <a href="{{ url_for('main.books') }}" class="btn btn-primary btn-lg text-center"><i class="fa-solid fa-book-open icon"></i>Books</a>
  <a class="btn btn-primary btn-lg text-center disabled" ><i class="fa-solid fa-video icon"></i>Films</a>
  <a class="btn btn-primary btn-lg text-center disabled" aria-disabled="true"><i class="fa-solid fa-music icon"></i>Music</a>
  <a class="btn btn-primary btn-lg text-center disabled" aria-disabled="true"><i class="fa-solid fa-podcast icon"></i>Podcasts</a>
  <a class="btn btn-primary btn-lg text-center disabled" aria-disabled="true"><i class="fa-solid fa-file-lines icon"></i>Articles</a>
</div>
{% endblock %}



 

