{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% block content %}
<h1 class="text-center">Profile</h1>
<h6 class="text-center">{{ user.firstname }} {{ user.lastname }}</h6>
<h6 class="text-center">{{ user.email }}</h6>

<form method="POST" role="form" action="/profile">
  <div class="d-flex justify-content-center mb-1 list">
    {% if followers %}
      <button type="submit" name="show" value="following" class="btn btn-primary m-1">Following</button>
      <button type="submit" name="show" value="followers" class="btn btn-primary m-1 active">Followers</button>
    {% else %}
    <button type="submit" name="show" value="following" class="btn btn-primary m-1 active">Following</button>  
    <button type="submit" name="show" value="followers" class="btn btn-primary m-1">Followers</button>
    {% endif %}
  </div>
</form>

{% if not followers %}
  <form method="POST" role="form" action="/follow_new">
    <label class="form-label text-muted mb-0" for="email"><small>Follow a new person by entering their email address.</small></label>
    <div class="form-outline d-flex justify-content-center">
      <input type="email" name="email" id="email" class="form-control end" placeholder="Email address" />
      <button type="submit" name="follow_new" class="btn btn-success btn-sm end">
        <i class="fa-solid fa-user-plus ms-1 me-1"></i>
      </button>
    </div>
  </form>
{% endif %}

{% for message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ message[0] }} mt-1" role="alert">
  {{ message[1] }}
</div>
{% endfor %}


<div class="d-flex flex-column mt-4">
  {% for f in follow %}
    <div class="card w-100 mb-2">
      <div class="card-body">
        <h5 class="card-title">{{ f.firstname }} {{ f.lastname }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{ f.email }} </h6>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}