{% extends 'base.html' %}
{% block title %} Recommend a {{ item_type[:-1] }}{% endblock %}

{% block content %}
<p class="text-center">Recommend the {{ item_type[:-1] }}</p>

<div class="d-flex flex-column mt-3 mb-1">
  <div class="card w-100 mb-2">
    <div class="d-flex">

      <!-- Image -->
      <div>
        <img src="{{ item['image_link'] }}" class="img-fluid rounded-start" onerror="this.src='/static/default.png'" alt="image of media item">
      </div>

      <!-- Content -->
      <div class="card-body flex-fill p-2">
        <h5 class="card-title">{{ item['title'] }}</h5>
      </div>

    </div>
  </div>
</div>

<p class="text-center">to any of your followers below...</p>

<div class="d-flex flex-column mt-3">
  {% for f in followers %}
    <div class="card w-100 mb-2">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h5 class="card-title">{{ f.firstname }} {{ f.lastname }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"> {{ f.email }} </h6>
        </div>
        <div>
          <form method="POST" role="form" action="/recommend/{{item_type}}">
            <button type="submit" name="recommend_new" value="[{{ f.id }},{{ item }}]" class="btn btn-primary btn-sm ms-2">
              <i class="fa-solid fa-wand-magic-sparkles"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}