{% extends 'base.html' %}
{% block title %} Search for {{ item_type }} {% endblock %}

{% block content %}

<h1 class="text-center">Recommend a {{ item_type[:-1] }}</h1>

<p class="text-center">Search for any {{ item_type[:-1] }}, and then recommend it to anyone you are following.</p>

<form class="mb-4">
  <div class="form-outline d-flex">
    <input type="text" name="{{ item_type }}" id="{{ item_type }}" class="form-control end" placeholder="Search" />
    <button type="submit" class="btn btn-primary end">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>

{% for message in get_flashed_messages(with_categories=True) %}
  <div class="text-center">
    <h4>No results</h4>
    <p><i class="fa-regular fa-face-frown pe-1"></i>{{ message[1] }}</p>
  </div>
{% endfor %}

<div class="d-flex flex-column">
  {% for item in items %}
  <div class="card w-100 mb-2">
    <div class="d-flex">
      <div>
        <img src="{{ item['image_link'] }}" class="rounded-start" onerror="this.src='/static/default.png'" alt="image of media item">
      </div>

      <!-- Content -->
      <div class="card-body flex-fill d-flex justify-content-between p-2">
        <div>
          <h5 class="card-title">{{item['title']}}</h5>
          <h6 class="card-subtitle mb-2 text-muted nospace">
            {% if (item_type == 'books') or (item_type == 'music') %}
              {% set authors = item['authors'] %}
              {% if authors %}
                <span>by&nbsp;</span>
                {% if authors|length == 1 %}
                  <span>{{authors[0]}}</span>
                {% else %}
                  {% for author in authors[:-1] %}
                    <span>{{author}},&nbsp;</span>
                  {% endfor %}
                  <span>{{authors[-1]}}</span>
                {% endif %}
              {% endif %}
            {% endif %}
          </h6>
        </div>

        <!-- Recommend button -->
        <div>
          <form method="POST" role="form" action="/recommend/{{ item_type }}">
            <button type="submit" name="recommend" value="{{ item }}" class="btn btn-primary btn-sm ms-2">
              <i class="fa-solid fa-wand-magic-sparkles"></i>
            </button>
          </form>
        </div>

      </div>

    </div>
      
  </div>
  {% endfor %}
</div>


{% endblock %}