{% extends 'base.html' %}
{% block title %} {{ item_type|capitalize }} {% endblock %}

{% block content %}

{% if recs_to_user %}
  {% set word = 'by' %}
{% else %}
  {% set word = 'to' %}
{% endif %}

<h1 class="text-center">{{ item_type }}</h1>

<!-- Sends to POST route -->
<form method="POST" role="form" action="/show/{{ item_type }}" > 
  <div class="d-flex justify-content-center list">
    {% if recs_to_user %}
      <button type="submit" name="recommended" value="to user" class="btn toggle btn-primary text-wrap me-1 lh-1"><small>recommended to me</small></button>
      <button type="submit" name="recommended" value="by user" class="btn toggle btn-outline-secondary text-wrap ms-1 lh-1"><small>recommended by me</small></button>
    {% else %}
      <button type="submit" name="recommended" value="to user" class="btn toggle btn-outline-secondary text-wrap me-1 lh-1"><small>recommended to me</small></button>
      <button type="submit" name="recommended" value="by user" class="btn toggle btn-primary text-wrap ms-1 lh-1"><small>recommended by me</small></button>
    {% endif %}
  </div>
</form>

{% if not recs_to_user %}
<div class="mt-3 d-flex justify-content-center">
  <i class="fa-solid fa-plus d-flex align-items-center"></i>
  <a href="{{ url_for('main.search', item_type=item_type) }}" class="ms-2 lh-1"><small>recommend<br>new item</small></a>
</div>
{% endif %}

{% for message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ message[0] }} mt-3" role="alert">
    {{ message[1] }}
  </div>
{% endfor %}

<div class="d-flex flex-column mt-3">
  {% for item in items %}
    <div class="card w-100 mb-2">
      <div class="d-flex">

        <!-- Image -->
        <div>
          <img src="{{ item['image_link'] }}" class="rounded-start" onerror="this.src='/static/default.png'" alt="image of media item">
        </div>

        <!-- Content -->
        <div class="card-body flex-fill p-2">
          <h5 class="card-title">{{item['title']}}</h5>

          {% if item_type == 'books' %}
          <h6 class="card-subtitle mb-2 text-muted nospace"><nobr><span>by&nbsp;</span>
            {% set authors = item['authors'] %}
            {% if authors %}
              <span>{{authors[0]}}</span>
              {% if authors|length > 2 %}
                {% for author in authors[1:] %}
                  <span>, {{author}}</span>
                {% endfor %}
              {% endif %}
            {% endif %}
          </nobr></h6>
          
          {% endif %}
          
          <!-- Recommended info -->
          <div class="d-flex text-muted">
            <i class="fa-solid fa-wand-magic-sparkles"></i>&nbsp;
            <small><p class="m-0 lh-1">{{word}} {{item['fname']}} {{item['lname']}} on {{item['date'].strftime("%d-%b-%y")}}</p></small>
          </div>

        </div>
      </div>
    </div>
  {% endfor %}  
</div>

{% endblock %}

